.cartPage_banner {
  margin: 2rem 10rem;
  padding: 2.5rem 5rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f3f5;
}

.cartPage_banner h2 {
  font-size: 2rem;
  font-weight: 500;
}

.cartPage_banner h3 {
  color: #868e96;
}
