.footer {
  width: 100%;
  background-color: black;
  color: white;
  font-style: italic;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 20rem;
}

.footer_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer_item h3 {
  font-size: 1rem;
  font-weight: 400;
}

.footer_item span {
  font-size: 0.8rem;
  font-weight: 350;
  color: #adb5bd;
  cursor: pointer;
}
